<div class="col-lg-4">
  <div class="panel panel-warning">   
    <div class="panel-heading">
      Room #
    </div>
    <div class="panel-body">
      edit stuff
    </div>
    <div class="panel-footer">
      {{!-- this would most likely be a save action call
            on the edit controller, but just linking back
            to world for demo at the moment --}}
      {{#link-to 'index.world' class="btn btn-xs btn-warning"}}
        close
      {{/link-to}}
    </div>
  </div>
</div>
