<div class="row world">
  <div {{bind-attr class="show.sidebar:col-lg-8:col-lg-12"}}>
    <div class="panel panel-primary">   
      <div class="panel-heading">
        Map
        <div class="btn-toolbar pull-right">
          <div class="btn-group">
            {{#link-to 'room.new' class="btn btn-xs btn-warning"}}
              <span class="glyphicon glyphicon-plus"></span>
              Room 
            {{/link-to}}
            <!-- Simulating the edit event using this button
                 but in reality it would probably be bubbled up from the 
                 viewer when the user clicks a room or double clicks a room -->
            <div class="btn btn-xs btn-warning" {{action 'edit' 3}}>
              Edit 
            </div>
          </div>
          <div class="btn-group">
            <div class="btn btn-xs btn-warning">
              info
            </div>
            <div class="btn btn-xs btn-warning">
              settings
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="panel-body">
        world viewer goes here
      </div>
    </div>
  </div>
  {{#if show.sidebar}}
    {{outlet}}
  {{/if}}
</div>
